@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'PlasticLove';
  src: url('./fonts/PlasticLoveRegular-MVO9v.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  background-color: #ffffff;
}

.App {
  min-height: 100vh;
}

.search-form {
  width: 50%;
  margin-left: 30px;
}

.search-bar {
  width: 50%;
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  outline: none;
}

.search-button {
  background: lightcoral;
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px;
  color: white;
  outline: none;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 900px;
  margin-top: 80px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.recipe-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 0;
}

.recipe-navbar p {
  font-family: 'PlasticLove';
  font-size: 30px;
  margin-top: 10px;
  color: #000;
}

.content-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.content-column-40 {
  flex: 40%;
}

.content-column-60 {
  flex: 60%;
}

.content-column-50 {
  flex: 50%;
}

.content-column-60 h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.modal-close-button {
  cursor: pointer;
}

.modal-content h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px !important;
}